@charset "UTF - 8";

:root{
    --cor0: #1f30aa;
    --cor1: #029dea;
    --cor2: #343434;
    --cor3: #000000;
    --cor4: #b71614;
    --cor5: #0079a1;
    --cor6: #b3b655;
    --cor7: #e3e699;
    --cor8: #888285;
    --cor9: #595959;
    --cor10:#ffffff;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

#screenId{
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translate(0%, -50%);
    display: grid;
    margin: auto;
    width: 530px;
    height: 660px;
    grid-template-rows: repeat(66, 1fr);
    grid-template-columns: repeat(53, 1fr);
}

.pixel{
    background-color: lightgreen;
    opacity: 0;
    width: 100%;
    height: 100%;
}

/*tons de cinza, preto e branco*/
#c6r61, #c6r60, #c7r62, #c8r62, #c9r62, #c10r62, #c11r62, #c12r62, #c13r62, #c14r61, #c15r61, #c16r60, #c16r59, #c7r59, #c9r58, #c11r57, #c18r57, #c19r55, #c15r55, #c16r54, #c16r53, #c20r54, #c20r53, #c15r52, #c14r51, #c15r51, #c16r51, #c17r51, #c18r51, #c19r51, #c13r50, #c21r47, #c22r47, #c23r48, #c36r48, #c25r49, #c36r49, #c26r50, #c36r50, #c28r51, #c34r51, #c35r51, #c29r52, #c30r52, #c31r52, #c32r54, #c33r55, #c35r58, #c35r47, #c35r59, #c36r61, #c45r61, #c45r62, #c37r63, #c44r63, #c40r47, #c41r47, #c35r46, #c42r46, #c35r45, #c43r45, #c44r45, #c49r48, #c48r48, #c47r47, #c46r46, #c45r46, #c34r44, #c21r43, #c22r43, #c23r43, #c34r43, #c33r42, #c32r41, #c17r40, #c30r40, #c31r40, #c19r39, #c28r39, #c29r39, #c12r38, #c13r38, #c14r38, #c20r38, #c27r38, #c34r38, #c36r38, #c37r38, #c38r38, #c10r37, #c11r37, #c16r37, #c21r37, #c33r37, #c39r37, #c40r37, #c41r37, #c8r36, #c9r36, #c17r36, #c21r36, #c42r36, #c7r35, #c18r35, #c22r35, #c32r35, #c22r34, #c29r34, #c31r34, #c20r33, #c21r33, #c30r33, #c39r33, #c7r32, #c8r32, #c19r32, #c22r32, #c23r32, #c38r32, #c42r32, #c4r31, #c9r31, #c21r31, #c38r31, #c45r31, #c4r30, #c10r30, #c11r30, #c20r30, #c32r30, #c39r30, #c43r30, #c5r29, #c10r29, #c21r29, #c22r29, #c32r29, #c5r28, #c19r28, #c30r28, #c31r28, #c41r28, #c6r27, #c20r27, #c29r27, #c17r26, #c18r26, #c21r26, #c22r26, #c28r26, #c29r26, #c33r26, #c34r26, #c35r26, #c37r26, #c38r26, #c39r26, #c16r25, #c27r25, #c32r25, #c36r25, #c40r25, #c19r24, #c20r24, #c21r24, #c22r24, #c23r24, #c28r24, #c29r24, #c31r24, #c35r24, #c40r24, #c16r23, #c17r23, #c18r23, #c30r23, #c34r23, #c40r23, #c15r22, #c31r22, #c34r22, #c40r22, #c31r21, #c33r21, #c39r21, #c32r20, #c33r20, #c39r20, #c23r19, #c25r19, #c32r19, #c38r19, #c25r18, #c33r18, #c18r17, #c27r17, #c33r17, #c18r16, #c32r16, #c32r15, #c19r14, #c31r14, #c19r13, #c31r13, #c18r12, #c30r12, #c18r11, #c30r11, #c18r10, #c22r10, #c30r10, #c17r9, #c21r9, #c30r9, #c17r8, #c30r8, #c17r7, #c17r6, #c29r6, #c29r5{
    background-color: var(--cor3);
}

#c8r61, #c10r61, #c8r60, #c8r59, #c12r59, #c10r58, #c17r58, #c12r57, #c13r57, #c17r57, #c14r56, #c16r56, #c17r56, #c18r56, #c19r56, #c16r55, #c17r55, #c18r55, #c17r54, #c18r54, #c19r54, #c17r53, #c18r53, #c19r53, #c16r52, #c17r52, #c18r52, #c19r52, #c35r52, #c31r53, #c35r53, #c37r55, #c34r56, #c38r56, #c34r57, #c35r57, #c39r57, #c43r59, #c36r60, #c44r60, #c36r62, #c40r62, #c43r62, #c40r63, #c43r63, #c24r43, #c19r42, #c20r42, #c26r42, #c27r42, #c22r41, #c28r41, #c18r40, #c21r40, #c23r40, #c25r39, #c35r38, #c26r37, #c45r37, #c46r37, #c47r37, #c26r36, #c43r36, #c44r36, #c26r35, #c27r35, #c6r34, #c13r34, #c28r34, #c35r34, #c37r34, #c45r34, #c5r33, #c12r33, #c22r33, #c27r33, #c33r33, #c36r33, #c37r33, #c44r33, #c5r32, #c11r32, #c27r32, #c33r32, #c44r32, #c11r31, #c18r31, #c24r31, #c32r31, #c41r31, #c8r30, #c18r30, #c27r30, #c45r30, #c6r29, #c12r29, #c28r29, #c39r29, #c42r29, #c45r29, #c9r28, #c12r28, #c21r28, #c40r28, #c44r28, #c7r27, #c8r27, #c11r27, #c23r27, #c25r27, #c19r26, #c20r26, #c17r25, #c21r25, #c33r25, #c34r25, #c35r25, #c39r25, #c16r24, #c32r24, #c33r24, #c34r24, #c24r23, #c25r23, #c31r23, #c32r23, #c33r23, #c32r22, #c33r22, #c15r21, #c32r21, #c34r21, #c16r20, #c34r20, #c35r20, #c17r19, #c33r19, #c34r19, #c35r19, #c36r19, #c37r19, #c18r18, #c34r18, #c35r18, #c36r18, #c37r18, #c34r17, #c35r17, #c36r17, #c19r16, #c33r16, #c34r16, #c35r16, #c18r15, #c33r15, #c32r14, #c21r12, #c20r11, #c22r11, #c23r11, #c24r11, #c27r11, #c19r10, #c20r10, #c26r10, #c27r10, #c19r9, #c26r9, #c27r9{
    background-color: var(--cor2);
}

#c7r61, #c9r61, #c13r61, #c10r60, #c15r60, #c11r59, #c16r58, #c15r57, #c16r57, #c15r56, #c33r52, #c34r52, #c32r53, #c33r53, #c34r53, #c33r54, #c34r54, #c35r54, #c36r54, #c34r55, #c35r55, #c36r55, #c35r56, #c36r56, #c37r56, #c36r57, #c37r57, #c38r57, #c36r58, #c37r58, #c40r58, #c41r58, #c42r59, #c36r59, #c39r61, #c42r61, #c37r62, #c44r62, #c38r63, #c39r63, #c41r63, #c42r63, #c21r42, #c22r42, #c23r42, #c24r42, #c25r42, #c19r41, #c20r41, #c21r41, #c23r41, #c24r41, #c25r41, #c26r41, #c27r41, #c19r40, #c20r40, #c20r39, #c25r40, #c26r40, #c27r40, #c28r40, #c26r39, #c27r39, #c12r37, #c38r37, #c10r36, #c11r36, #c36r36, #c37r36, #c38r36, #c39r36, #c40r36, #c41r36, #c47r36, #c8r35, #c9r35, #c10r35, #c11r35, #c36r35, #c37r35, #c38r35, #c39r35, #c40r35, #c41r35, #c42r35, #c46r35, #c7r34, #c8r34, #c9r34, #c10r34, #c11r34, #c12r34, #c38r34, #c39r34, #c40r34, #c41r34, #c42r34, #c43r34, #c6r33, #c7r33, #c8r33, #c9r33, #c10r33, #c11r33, #c28r33, #c29r33, #c38r33, #c42r33, #c43r33, #c45r33, #c6r32, #c9r32, #c10r32, #c20r32, #c21r32, #c28r32, #c29r32, #c43r32, #c5r31, #c8r31, #c10r31, #c19r31, #c20r31, #c40r31, #c43r31, #c44r31, #c7r30, #c9r30, #c30r30, #c44r30, #c9r29, #c11r29, #c18r29, #c29r29, #c30r29, #c31r29, #c40r29, #c44r29, #c8r28, #c11r28, #c20r28, #c42r27, #c43r27, #c8r26, #c9r26, #c10r26, #c18r25, #c19r25, #c20r25, #c22r25, #c37r25, #c38r25, #c17r24, #c18r24, #c36r24, #c37r24, #c38r24, #c39r24, #c35r23, #c36r23, #c37r23, #c38r23, #c39r23, #c16r22, #c17r22, #c18r22, #c19r22, #c20r22, #c21r22, #c35r22, #c36r22, #c37r22, #c38r22, #c39r22, #c17r21, #c20r21, #c21r21, #c22r21, #c23r21, #c24r21, #c25r21, #c26r21, #c27r21, #c35r21, #c36r21, #c37r21, #c38r21, #c21r20, #c22r20, #c23r20, #c27r20, #c28r20, #c29r20, #c16r21, #c19r21, #c36r20, #c37r20, #c38r20, #c22r19, #c28r19, #c29r19, #c30r19, #c28r18, #c29r18, #c30r18, #c31r18, #c32r18, #c23r18, #c24r18, #c24r17, #c25r17, #c26r17, #c28r17, #c29r17, #c30r17, #c31r17, #c32r17, #c26r16, #c27r16, #c28r16, #c29r16, #c30r16, #c31r16, #c22r15, #c28r15, #c29r15, #c30r15, #c31r15, #c20r14, #c29r14, #c30r14, #c21r13, #c23r13, #c30r13, #c22r12, #c23r12, #c24r12, #c19r11{
    background-color: var(--cor9);
}

#c11r61, #c12r61, #c7r60, #c9r60, #c11r60, #c12r60, #c13r60, #c14r60, #c9r59, #c10r59, #c13r59, #c14r59, #c15r59, #c11r58, #c12r58, #c13r58, #c14r58, #c15r58, #c14r57, #c38r58, #c39r58, #c37r59, #c38r59, #c39r59, #c40r59, #c41r59, #c37r60, #c38r60, #c39r60, #c40r60, #c41r60, #c42r60, #c43r60, #c37r61, #c38r61, #c40r61, #c41r61, #c43r61, #c44r61, #c38r62, #c39r62, #c41r62, #c42r62, #c40r33, #c41r33, #c39r32, #c40r32, #c41r32, #c6r31, #c7r31, #c28r31, #c29r31, #c39r31, #c42r31, #c5r30, #c6r30, #c19r30, #c24r30, #c28r30, #c29r30, #c40r30, #c41r30, #c42r30, #c7r29, #c8r29, #c19r29, #c20r29, #c41r29, #c43r29, #c6r28, #c7r28, #c10r28, #c42r28, #c43r28, #c17r21, #c18r21, #c9r27, #c10r27, #c17r20, #c18r20, #c19r20, #c20r20, #c18r19, #c19r19, #c20r19, #c21r19, #c19r18, #c20r18, #c21r18, #c22r18, #c19r17, #c20r17, #c21r17, #c23r17, #c20r16, #c21r16, #c20r15, #c21r15, #c21r14, #c22r14, #c22r13{
    background-color: var(--cor8);
}

#c45r36, #c46r36, #c43r35, #c44r35, #c45r35, #c44r34, #c22r31, #c23r31, #c21r30, #c22r30, #c23r30, #c26r20, #c27r19, #c27r18{
    background-color: var(--cor10);
}

/*tons de azul*/
#c19r50, #c20r50, #c12r49, #c21r49, #c11r48, #c21r48, #c11r47, #c20r47, #c37r48, #c38r48, #c39r48, #c24r48, #c27r50, #c32r52, #c11r46, #c12r45, #c36r45, #c37r45, #c49r45, #c49r46, #c49r47, #c12r44, #c38r44, #c39r44, #c48r44, #c40r43, #c41r43, #c48r43, #c47r42, #c16r41, #c18r41, #c46r41, #c29r40, #c15r38, #c33r36, #c15r35, #c16r34, #c19r34, #c34r34, #c17r33, #c31r33, #c17r32, #c30r32, #c30r31, #c31r30, #c23r25, #c24r25, #c25r25, #c27r24, #c29r23, #c20r12, #c25r12, #c21r11, #c25r11, #c25r10, #c25r9, #c21r8, #c25r8, #c26r8, #c20r7, #c25r7, #c29r7, #c19r6, #c17r5, #c18r5, #c26r5, #c26r4, #c28r4, #c26r3, #c28r3, #c27r2{
    background-color: var(--cor0);
}

#c14r50, #c15r50, #c16r50, #c17r50, #c18r50, #c13r49, #c14r49, #c15r49, #c16r49, #c17r49, #c18r49, #c19r49, #c20r49, #c12r48, #c13r48, #c14r48, #c17r48, #c18r48, #c19r48, #c20r48, #c12r47, #c18r47, #c19r47, #c23r47, #c24r47, #c25r47, #c31r47, #c32r47, #c33r47, #c34r47, #c25r48, #c26r48, #c31r48, #c32r48, #c33r48, #c34r48, #c35r48, #c26r49, #c27r49, #c29r49, #c30r49, #c31r49, #c32r49, #c33r49, #c34r49, #c35r49, #c28r50, #c29r50, #c30r50, #c31r50, #c32r50, #c33r50, #c34r50, #c35r50, #c29r51, #c30r51, #c31r51, #c32r51, #c12r46, #c19r46, #c20r46, #c21r46, #c22r46, #c23r46, #c24r46, #c25r46, #c36r47, #c37r47, #c38r47, #c39r47, #c32r46, #c33r46, #c34r46, #c36r46, #c37r46, #c38r46, #c39r46, #c40r46, #c41r46, #c19r45, #c20r45, #c21r45, #c22r45, #c23r45, #c24r45, #c32r45, #c34r45, #c38r45, #c39r45, #c40r45, #c41r45, #c42r45, #c45r45, #c46r45, #c47r45, #c48r45, #c48r47, #c48r46, #c47r46, #c20r44, #c21r44, #c22r44, #c23r44, #c24r44, #c25r44, #c33r44, #c43r44, #c44r44, #c45r44, #c46r44, #c47r44, #c13r43, #c20r43, #c25r43, #c26r43, #c32r43, #c45r43, #c46r43, #c47r43, #c14r42, #c42r42, #c15r41, #c43r41, #c44r40, #c45r40, #c15r37, #c37r37, #c35r36, #c14r35, #c17r35, #c18r34, #c36r34, #c18r33, #c19r33, #c18r32, #c31r32, #c32r32, #c31r31, #c24r26, #c25r26, #c26r26, #c26r25, #c24r24, #c25r24, #c26r24, #c19r23, #c20r23, #c21r23, #c22r23, #c23r23, #c26r23, #c27r23, #c28r23, #c22r22, #c23r22, #c24r22, #c25r22, #c26r22, #c27r22, #c28r22, #c29r22, #c30r22, #c28r21, #c29r21, #c30r21, #c30r20, #c31r20, #c31r19, #c29r13, #c19r12, #c27r12, #c28r12, #c29r12, #c26r11, #c28r11, #c29r11, #c21r10, #c29r10, #c20r9, #c29r9, #c20r8, #c29r8, #c25r6{
    background-color: var(--cor5);
}

#c15r48, #c16r48, #c13r47, #c14r47, #c15r47, #c16r47, #c17r47, #c26r47, #c27r47, #c28r47, #c29r47, #c30r47, #c27r48, #c28r48, #c29r48, #c30r48, #c28r49, #c33r51, #c13r46, #c14r46, #c15r46, #c16r46, #c17r46, #c18r46, #c26r46, #c27r46, #c28r46, #c29r46, #c30r46, #c31r46, #c13r45, #c14r45, #c15r45, #c16r45, #c17r45, #c18r45, #c25r45, #c26r45, #c27r45, #c28r45, #c29r45, #c30r45, #c31r45, #c33r45, #c13r44, #c14r44, #c15r44, #c16r44, #c17r44, #c18r44, #c19r44, #c26r44, #c27r44, #c28r44, #c29r44, #c30r44, #c31r44, #c32r44, #c40r44, #c41r44, #c42r44, #c14r43, #c15r43, #c16r43, #c17r43, #c18r43, #c19r43, #c27r43, #c28r43, #c29r43, #c30r43, #c31r43, #c33r43, #c42r43, #c43r43, #c44r43, #c15r42, #c16r42, #c17r42, #c18r42, #c28r42, #c29r42, #c30r42, #c31r42, #c32r42, #c43r42, #c44r42, #c45r42, #c46r42, #c17r41, #c29r41, #c30r41, #c31r41, #c44r41, #c45r41, #c13r37, #c14r37, #c34r37, #c35r37, #c36r37, #c12r36, #c13r36, #c14r36, #c15r36, #c16r36, #c34r36, #c12r35, #c13r35, #c16r35, #c33r35, #c34r35, #c35r35, #c17r34, #c32r34, #c33r34, #c32r33, #c22r17, #c22r16, #c23r16, #c24r16, #c25r16, #c19r15, #c23r15, #c24r15, #c25r15, #c26r15, #c27r15, #c23r14, #c24r14, #c25r14, #c26r14, #c27r14, #c28r14, #c20r13, #c24r13, #c25r13, #c26r13, #c27r13, #c28r13, #c26r12, #c28r10, #c18r9, #c28r9, #c18r8, #c19r8, #c27r8, #c28r8, #c18r7, #c19r7, #c26r7, #c27r7, #c28r7, #c18r6, #c26r6, #c27r6, #c28r6, #c27r5, #c28r5, #c27r4, #c27r3{
    background-color: var(--cor1);
}

/*tons de bege*/
#c21r39, #c24r39, #c21r38, #c22r38, #c23r38, #c24r38, #c25r38, #c26r38, #c22r37, #c23r37, #c24r37, #c25r37, #c22r36, #c23r36, #c24r36, #c25r36, #c23r35, #c25r35, #c26r34, #c27r34, #c27r31, #c23r29, #c27r29, #c22r28, #c27r28, #c24r27, #c28r27, #c23r26{
    background-color: var(--cor6);
}

#c22r40, #c24r40, #c22r39, #c23r39, #c24r35, #c23r34, #c24r34, #c25r34, #c23r33, #c24r33, #c25r33, #c26r33, #c24r32, #c25r32, #c26r32, #c25r31, #c26r31, #c25r30, #c26r30, #c24r29, #c25r29, #c26r29, #c23r28, #c24r28, #c25r28, #c26r28, #c28r28, #c29r28, #c21r27, #c22r27, #c26r27, #c27r27, #c27r26{
    background-color: var(--cor7);
}

/*tons de vermelhor*/
#c24r20, #c25r20, #c24r19, #c26r19, #c26r18{
    background-color: var(--cor4);
}


@keyframes sand {
    from{
        opacity: 0;
        transform: translate(0%, -2000%);
    }
    to{
        opacity: 1;
        transform: translate(0%, 0%);
    }
}